@using MySchoolDiaryProject.Common
@model MySchoolDiaryProject.Web.ViewModels.Subjects.ListAllSubjectsViewModel
@{
    ViewData["Title"] = "All Subjects";
    string split = ", ";
    string empty = "-";

    int previousPage = Model.CurrentPage - 1;
    int nextPage = Model.CurrentPage + 1;
    bool isPrevoiusPageValid = true;
    bool isNextPageValid = true;

    if (previousPage <= 0 || previousPage > Model.PagesCount)
    {
        isPrevoiusPageValid = false;
    }

    if (nextPage <= 0 || nextPage > Model.PagesCount)
    {
        isNextPageValid = false;
    }
}

    <body class="pictureBookThemeTeachers">
        <h1 style="color:ghostwhite;">@ViewData["Title"]</h1>

        <div>
            <h1>
                <a class=" btn btn-primary btn-lg" asp-controller="Subject" asp-action="Create">Create a subject</a>
                @*<a asp-action="Delete" asp-controller="Student" asp-route-id="@Model.Id class=" btn btn-primary btn-lg"">Delete</a>*@
            </h1>
        </div>

        <table class="table table-bordered table-striped table-hover table-light">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Teachers</th>
                </tr>
            </thead>

            @foreach (var subject in Model.Subjects)
            {
                <tr>
                    <td>@subject.Name</td>
                    <td>
                        @if (subject.SubjectTeachers.Count == 0)
                        {
                            @empty
                        }

                        @foreach (var teacher in subject.SubjectTeachers)
                        {
                            if (subject.SubjectTeachers.Count == 1)
                            {
                                @teacher.Teacher.FullName;
                            }
                            else if (subject.SubjectTeachers.Count > 1)
                            {
                                @teacher.Teacher.FullName@split;
                            }


                            <span></span>
                        }

                    </td>
                </tr>

                <tr>
                    <td>
                        <a asp-action="Edit" asp-route-id="id:@subject.Id-page:@Model.CurrentPage">Edit @subject.Name</a>
                    </td>
                </tr>
                @*<tr>
                    <td>
                        <a asp-action="AddSToTeacher" asp-controller="Teacher" asp-route-id="@subject.Id">Add a teacher to subject</a>
                    </td>
                </tr>*@
                @*<tr>
                    <td>
                        <a asp-action="Edit" asp-route-id="@student.Id">Edit @student.Name's Info</a>
                    </td>
                </tr>*@
            }
        </table>
        <nav aria-label="...">
            <ul class="pagination">

                @if (isPrevoiusPageValid)
                {
                    <li class="page-item">
                        <a class="page-link" href="https://localhost:44319/Subject/AllSubjects?page=@previousPage">Previous</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="#">Previous</a>
                    </li>
                }

                @for (int i = 1; i <= this.Model.PagesCount; i++)
                {
                    var active = i == this.Model.CurrentPage ? "active" : string.Empty;

                    <li class="page-item @active">
                        <a class="page-link"
                           asp-controller="Subject"
                           asp-action="AllSubjects"
                           asp-route-page="@i">@i</a>
                    </li>
                }

                @if (isNextPageValid)
                {
                    <li class="page-item">
                        <a class="page-link" href="https://localhost:44319/Subject/AllSubjects?page=@nextPage">Next</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                }
            </ul>
        </nav>
    </body>

